# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
docs/

# Extension to count lines of code
.VSCodeCounter/

*.swp

metadata.json
